/**
 * Default Look and Feel
 */
.alertify,
.alertify-log {
	font-family: sans-serif;
}
.alertify {
	background: #FFF;
	border: 10px solid #72797d; /* browsers that don't support rgba */
	-webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
	   -moz-background-clip: padding;     /* Firefox 3.6 */
	        background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
	.alertify-text {
		border: 1px solid #CCC;
		padding: 10px;
		border-radius: 4px;
	}
	.alertify-button {
		color: #FFF;
		padding: 8px;
		text-decoration: none;
	}

		.alertify-button-cancel,
		.alertify-button-cancel:hover,
		.alertify-button-cancel:focus {
		background-color: #D1CBC3;
			border: 1px solid #D1CBC3;
			color: #4B565C;
		}

		.alertify-button-cancel>span
		{
			font-size: 13px;
			border: 1px solid #4B565C;
			display: block;
			font-family: 'Brandon Grotesque Bold';
			padding: 10px 15px;			
		}

		.alertify-button-ok,
		.alertify-button-ok:hover,
		.alertify-button-ok:focus {
			background-color: #D1CBC3;
			border: 1px solid #D1CBC3;
			color: #4B565C;
			margin-right: 10px;
		}
		.alertify-button-ok>span
		{
			font-size: 13px;
			border: 1px solid #4B565C;
			display: block;
			font-family: 'Brandon Grotesque Bold';
			padding: 10px 15px;			
		}

.alertify-log {
	background: #1F1F1F;
	background: rgba(0,0,0,.9);
	padding: 15px;
	border-radius: 4px;
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0,0,0,.5);
}
	.alertify-log-error {
		background: #FE1A00;
		background: rgba(254,26,0,.9);
	}
	.alertify-log-success {
		background: #5CB811;
		background: rgba(92,184,17,.9);
	}